@import '../../../assets/sass/mixins';

.modal{
    .modal-dialog{
        .modal-content{
            border-radius: 0px;
            .modal-header{
                border-bottom: 0px;
                padding: 20px 20px 0px;
                p{
                    font-size: 18px;
                    color: var(--orange);
                    margin-bottom: 0px;
                    strong{
                        font-family: lexend-semibold;
                    }
                }
            }
        }
    }
}

.prototipos{
    padding: 8% 0px;
    background-color: var(--blue);

    h2{
        margin-bottom: 60px;
    }
    .pl-9{
        padding-left: 9%;
    }

    table{
        thead{
            th{
                color: var(--orange);
                font-family: lexend-light;
            }
        }

        tbody{
            tr{
                td{
                    color: white;
                    padding: 20px 0px;

                    img{
                        cursor: pointer;
                        filter: invert(39%) sepia(84%) saturate(1876%) hue-rotate(347deg) brightness(99%) contrast(91%);
                        ;
                    }
                }

                &:last-of-type{
                    td{
                        border-bottom-width: 0px;
                    }
                }
            }
        }
    }
    
    ul{
        padding-left: 0px;
        list-style-type: none;
        margin-top: 45px;
        li{
            position: relative;
            color: white;
            margin: 10px 0px;
            padding-left: 20px;
            &::before{
                content: "\2022";
                color: var(--orange);
                font-size: 30px;
                line-height: 15px;
                position: absolute;
                left: 0px;
                top: 12%;
            }
        }
    }
}

.creditos{
    background-color: var(--orange);
    padding: 30px 0px;
    position: relative;

    &::before{
        content: "";
        background-image: url(../../../assets/images/esquina-creditos.png);
        background-repeat: no-repeat;
        background-size: contain;
        position:absolute;
        width: 175px;
        height: 100%;
        left: 0;
        top: 0;
    }

    img{
        max-width: 80px;
        margin: auto;
        display: block;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(103%) contrast(103%);
    }

    p{
        color: white;
        text-align: center;
        font-size: 28px;
    }
}