<section id="prototipos" class="prototipos">
    <div class="container-fluid custom">
        <div class="row">
            <div class="col-6">
                <img src="../../../assets/images/prototipo.jpg" class="img-fluid" />
            </div>
            <div class="col-6 pl-9">
                <h2>Prototipos</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Prototipo</th>
                            <th scope="col">Superficie construida</th>
                            <th scope="col">Superficie habitable</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PR-11</td>
                            <td>51.10 m<sup>2</sup></td>
                            <td>45.30 m<sup>2</sup></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>PR-12</td>
                            <td>51.10 m<sup>2</sup></td>
                            <td>45.30 m<sup>2</sup></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li>La imagen del prototipo contiene una sugerencia de amueblado.</li>
                    <li>El departamento se entrega sin muebles ni electrodomésticos.</li>
                    <li>Sin estacionamiento ni amenidades.</li>
                    <li>El proyecto podría sufrir modificaciones sin previo aviso, no constituye compromiso, obligación u oferta comercial alguna.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="creditos">
    <div class="row">
        <div class="col-12">
            <img src="./../../../assets/images/icon-mano.svg" class="img-fluid" />
            <p>Aceptamos todos los <strong>créditos bancarios</strong> y <strong>créditos INFONAVIT</strong> y <strong>FOVISSTE</strong> <br> ¡Te ayudamos a tramitar tu crédito!</p>
        </div>
    </div>
</section>