<div class="modal fade" id="modal-prototipo-pr-11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <p>Prototipo <strong>PR-11</strong></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="responsive-container">
                    <img src="assets/images/manuel-gonzalez-165-prototipo-plano-pr11.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-prototipo-pr-12" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <p>Prototipo <strong>PR-12</strong></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="responsive-container">
                    <img src="assets/images/manuel-gonzalez-165-prototipo-plano-pr12.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>

<section id="prototipos" class="prototipos">
    <div class="container-fluid custom">
        <div class="row">
            <div class="col-6">
                <img src="../../../assets/images/prototipo.jpg" class="img-fluid" />
            </div>
            <div class="col-6 pl-9">
                <h2>Prototipos</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Prototipo</th>
                            <th scope="col">Superficie construida</th>
                            <th scope="col">Superficie habitable</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PR-11</td>
                            <td>51.10 m<sup>2</sup></td>
                            <td>45.30 m<sup>2</sup></td>
                            <td><img src="assets/images/icons/icon-ver-mas.svg" data-bs-toggle="modal" data-bs-target="#modal-prototipo-pr-11" class="img-fluid" /></td>
                        </tr>
                        <tr>
                            <td>PR-12</td>
                            <td>51.10 m<sup>2</sup></td>
                            <td>45.30 m<sup>2</sup></td>
                            <td><img src="assets/images/icons/icon-ver-mas.svg" data-bs-toggle="modal" data-bs-target="#modal-prototipo-pr-12" class="img-fluid" /></td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li>La imagen del prototipo contiene una sugerencia de amueblado.</li>
                    <li>El departamento se entrega sin muebles ni electrodomésticos.</li>
                    <li>Sin estacionamiento ni amenidades.</li>
                    <li>El proyecto podría sufrir modificaciones sin previo aviso, no constituye compromiso, obligación u oferta comercial alguna.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="financiamiento" class="creditos">
   <div class="container-fluid custom">
    <div class="row">
        <div class="col-12">
            <img src="./../../../assets/images/icon-mano.svg" class="img-fluid" />
            <p>Aceptamos todos los <strong>créditos bancarios</strong> y <strong>créditos INFONAVIT</strong> y
                <strong>FOVISSTE</strong> <br> ¡Te ayudamos a tramitar tu crédito!</p>
        </div>
    </div>
   </div>
</section>