@import '../../../assets/sass/mixins';

.extras {
  margin-top: 12%;
  margin-bottom: 5%;

  @include for_breakpoint(767) {
    margin-top: 15%;
  }

  @include for_breakpoint(480) {
    margin-top: 25%;
  }

  h2 {
    color: var(--blue);
    margin-bottom: 70px;

    @include for_breakpoint(991){
      margin-top: 50px;
    }

    @include for_breakpoint(575){
      margin-top: 80px;
      margin-bottom: 50px;
    }
  }

  p {
    font-size: 18px;
    font-family: lexend-regular;
    color: #7a7a7a;

    a{
      color: var(--blue);
      text-decoration: none;
    }

    strong {
      color: #7a7a7a;
      font-family: lexend-semibold;
    }

    span{
      font-family: lexend-semibold;
      color: #1a1a1a;
      font-size: 24px;
    }

    @include for_breakpoint(1199){
      span{
        font-size: 20px;
      }
    }

    @include for_breakpoint(767){
      span{
        font-size: 18px;
      }
    }

    @include for_breakpoint(480) {
      font-size: 16px;
    }
  }

  ul {
    li {
      font-family: lexend-regular;
      font-size: 18px;
      color: #7a7a7a;

      a{
        color: var(--blue);
        text-decoration: none;
      }

      @include for_breakpoint(480) {
        font-size: 16px;
      }
    }
  }
}