<section id="ubicacion" class="ubicacion">
    <div class="container-fluid custom">
        <div class="row">
            <div class="col-12">
                <h2 class="blue">Ubicación</h2>
                <p>Manuel González 165 A, Col. San Simón Tolnáhuac, Alcaldía Cuauthémoc, C.P.06920, CDMX</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.9986145933!2d-99.1429827856175!3d19.45562654498665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f921ee2438b7%3A0x9fb8df319c9c9058!2sManuel%20Gonzalez%20165%2C%20San%20Sim%C3%B3n%20Tolnahuac%2C%20Cuauht%C3%A9moc%2C%2006920%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1677526380629!5m2!1ses-419!2smx"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xl-5 offset-0 col-xxl-3 offset-xl-1">
                <h3>Avenidas principales</h3>
                <ul>
                    <li>Av. Insurgentes</li>
                    <li>Eje Central Lázaro Cárdenas</li>
                    <li>Paseo de la Reforma</li>
                    <li>Eje dos Norte Manuel González</li>
                    <li>Avenida Guerrero</li>
                </ul>
            </div>
            <div class="col-md-6 col-xl-5 offset-0 col-xxl-5 offset-xl-1">
                <h3>Transporte público</h3>
                <ul>
                    <li>Línea 3 del Metro que va de Indios Verdes a Universidad. <br>Estaciones Tlatelolco (220 m) y
                        Guerrero (2.3 km).</li>
                    <li>Línea 5 del Metro que va de Pantitlán a Politécnico.<br>Estación La Raza (2.4 km).</li>
                    <li>Línea 3 del Metrobús que va de Tenayuca a Etiopía a Santa Cruz Atoyac.<br> Estación Tlatelolco
                        (500 m).</li>
                    <li>Línea 1 del Metrobús que va de Indios Verdes a el Caminero. <br> Estación Manuel González (920
                        m).</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="lugares">
    <div class="container-fluid custom">
        <div class="row">
            <div class="col-12 order-2 col-lg-7 order-lg-1 col-xl-6 col-xxl-6">
                <div class="tabs">
                    <ul class="nav nav-tabs" id="tabs-lugares" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="hospitales-tab" data-bs-toggle="tab"
                                data-bs-target="#hospitales-tab-pane" type="button" role="tab"
                                aria-controls="hospitales-tab-pane" aria-selected="true">Hospitales</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="super-tab" data-bs-toggle="tab"
                                data-bs-target="#super-tab-pane" type="button" role="tab" aria-controls="super-tab-pane"
                                aria-selected="false">Supermercados</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="comercial-tab" data-bs-toggle="tab"
                                data-bs-target="#comercial-tab-pane" type="button" role="tab"
                                aria-controls="comercial-tab-pane" aria-selected="false">Centros
                                Comerciales</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="escuela-tab" data-bs-toggle="tab"
                                data-bs-target="#escuela-tab-pane" type="button" role="tab"
                                aria-controls="escuela-tab-pane" aria-selected="false">Escuelas</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="restaurante-tab" data-bs-toggle="tab"
                                data-bs-target="#restaurante-tab-pane" type="button" role="tab"
                                aria-controls="restaurante-tab-pane" aria-selected="false">Restaurantes</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="entretenimiento-tab" data-bs-toggle="tab"
                                data-bs-target="#entretenimiento-tab-pane" type="button" role="tab"
                                aria-controls="entretenimiento-tab-pane" aria-selected="false">Entretenimiento <br>y
                                áreas verdes</button>
                        </li>

                    </ul>
                    <div class="tab-content" id="content-lugares">
                        <div class="tab-pane fade show active" id="hospitales-tab-pane" role="tabpanel"
                            aria-labelledby="hospitales-tab" tabindex="0">
                            <img src="../../../assets/images/icons/icon-lugares-hospital.svg" class="img-fluid" />
                            <ul>
                                <li>Hospital General IMSS Zona 27</li>
                                <li>Hospital Pediátrico Peralvillo</li>
                                <li>IMSS La Raza</li>
                                <li>Issste Centro Hospitalario</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="super-tab-pane" role="tabpanel" aria-labelledby="super-tab"
                            tabindex="0">
                            <img src="../../../assets/images/icons/icon-lugares-super-mercado.svg" class="img-fluid" />
                            <ul>
                                <li>Walmart Tlatelolco</li>
                                <li>Mercado San Joaquín</li>
                                <li>Bodega Aurrera Express</li>
                                <li>Soriana Hiper Tlatelolco</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="comercial-tab-pane" role="tabpanel"
                            aria-labelledby="comercial-tab" tabindex="0">
                            <img src="../../../assets/images/icons/icon-lugares-centro-comercial.svg"
                                class="img-fluid" />
                            <ul>
                                <li>Puerta Tlatelolco</li>
                                <li>Plaza Tlatelolco</li>
                                <li>Fórum Buenavista</li>
                                <li>Plaza Ministerios</li>
                                <li>Centro Comercial las Vegas</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="escuela-tab-pane" role="tabpanel" aria-labelledby="escuela-tab"
                            tabindex="0">
                            <img src="../../../assets/images/icons/icon-lugares-escuela.svg" class="img-fluid" />
                            <p>En esta zona se ubican decenas de escuelas primarias y secundarias, así como varios
                                bachilleratos y universidades.</p>
                            <ul>
                                <li>Escuela Primaria ISSSTE</li>
                                <li>Escuela Primaria Francisco Díaz Covarrubias</li>
                                <li>Colegio de las Tres Culturas</li>
                                <li>Escuela Primaria Fray Melchor de Talamantes</li>
                                <li>Universidad Tecnológica de México</li>
                                <li>Centro Universitario para el Liderazgo y Desarrollo Profesional</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="restaurante-tab-pane" role="tabpanel"
                            aria-labelledby="restaurante-tab" tabindex="0">
                            <img src="../../../assets/images/icons/icon-lugares-restaurante.svg" class="img-fluid" />
                            <ul>
                                <li>La Casa de Toño</li>
                                <li>Sushi Itto Puerta Tlatelolco</li>
                                <li>Toks</li>
                                <li>Wings Factory Tlatelolco</li>
                                <li>Restaurante La Terraza de Los Amigos</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="entretenimiento-tab-pane" role="tabpanel"
                            aria-labelledby="entretenimiento-tab" tabindex="0">
                            <img src="../../../assets/images/icons/icon-lugares-parque.svg" class="img-fluid" />
                            <ul>
                                <li>Cinépolis</li>
                                <li>Gran Salón de la Ciudad de México</li>
                                <li>Centro de Convenciones Tlatelolco</li>
                                <li>Plaza de las Tres Culturas</li>
                                <li>Jardín la Pera</li>
                                <li>Jardín de la Paz</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 order-1 col-md-8 offset-md-2 order-lg-2 offset-lg-0 col-lg-5 col-xl-6 col-xxl-6">
                <img src="./../../../assets/images/manuel-gonzalez-165-mapa-referencias.jpg" class="img-fluid mapa" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <swiper class="slide-referencias" 
                [slidesPerView]="5" 
                [spaceBetween]=30 
                [pagination]="{
                    clickable: true
                }" 
                [breakpoints]="{
                            '0':{
                                slidesPerView: 1
                            },
                            '480':{
                                slidesPerView:2
                            },
                            '800':{
                                slidesPerView: 3
                            },
                            '1200':{
                                slidesPerView: 5
                            }
                        }">

                    <ng-template swiperSlide>
                        <div class="image">
                            <img src="assets/images/carrusel/manuel-gonzalez-165-lugares-01-metro-tlatelolco.png"
                                class="img-fluid" alt="Metro Tlatelolco" />
                            <div class="nombre">
                                Metro Tlatelolco
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="image">
                            <img src="assets/images/carrusel/manuel-gonzalez-165-lugares-02-centro-comercial-puerta-tlatelolco.png"
                                class="img-fluid" alt="Centro comercia puerta Tlatelolco" />
                            <div class="nombre">
                                Centro comercial puerta Tlatelolco
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="image">
                            <img src="assets/images/carrusel/manuel-gonzalez-165-lugares-03-templo-san-simon-tolnahuac.jpg"
                                class="img-fluid" alt="Templo de San Simón" />
                            <div class="nombre">
                                Templo de San Simón
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="image">
                            <img src="assets/images/carrusel/manuel-gonzalez-165-lugares-04-centro-de-convenciones-tlatelolco.jpg"
                                class="img-fluid" alt="Centro de convenciones Tlatelolco" />
                            <div class="nombre">
                                Centro de convenciones Tlatelolco
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="image">
                            <img src="assets/images/carrusel/manuel-gonzalez-165-lugares-05-jardin-la-pera.jpg"
                                class="img-fluid" alt="Jardín la Pera" />
                            <div class="nombre">
                                Jardín la Pera
                            </div>
                        </div>
                    </ng-template>

                </swiper>
            </div>
        </div>
    </div>
</section>