@import '../../../assets/sass/mixins';

.contacto {
  padding: 150px 0px;
//   background-image: url(../../../assets/images/superior-56-contacto-filtro.jpg);
  background-color: var(--orange);
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include for_breakpoint(1399) {
    padding: 120px 0px;
  }

  @include for_breakpoint(991) {
    padding: 100px 0px
  }

  @include for_breakpoint(767) {
    padding: 80px 0px
  }

  h2{
    margin-bottom: 70px;
  }


  .contact-no {
    display: flex;
    flex-direction: row;

    img {
      width: 50px;
      height: auto;
      filter: invert(8%) sepia(48%) saturate(1993%) hue-rotate(188deg) brightness(94%) contrast(96%);
      margin-right: 15px;
    }

    a {
      text-decoration: none;
      font-family: lexend-bold;
      font-size: 24px;
      text-align: left;
      color: white;
      line-height: 1.1;

      p {
        color: white;
        font-family: lexend-light;
        font-size: 18px;
        margin: 0px;
      }
    }

    @include for_breakpoint(1799) {
      a{
        font-size: 22px;
      }
    }

    @include for_breakpoint(1399){
      img{
        width: 45px;
      }
    }

    @include for_breakpoint(991) {
      img {
        width: 40px;
      }

      a{
        font-size: 20px;
      }
    }

    @include for_breakpoint(767) {
      margin-bottom: 40px;
    }

    @include for_breakpoint(480){
      img{
        width: 35px;
      }
      a{
        font-size: 17px;
        p{
          font-size: 15px;
        }
      }
    }
  }

  h4 {
    color: var(--blue-strong);
    font-family: lexend-semibold;
    font-size: 30px;
    text-align: left;
    margin-top: 50px;

    @include for_breakpoint(1399) {
      font-size: 26px;
    }

    @include for_breakpoint(991){
      font-size: 24px;
    }
  }


  form {
    text-align: left;

    label {
      font-size: 22px;
      color: white;
    }

    input[type="email"],
    input[type="text"],
    input[type="tel"],
    textarea {
      border-radius: 0px;
      border: 0px;
      border-bottom: 1px solid white;
      background-color: transparent;
      color: white;
      font-size: 20px;
      font-family: lexend-bold;

      &:active,
      &:focus {
        box-shadow: none;
        border-color: var(--blue-strong);
        border-width: 3px;
      }

      @include placeholder(white, 20px, lexend-light);
    }

    .form-check {
      margin-top: 20px;

      input {
        margin-top: 8px;
        border-radius: 0px;
      }

      label {
        font-family: lexend-regular;
        counter-reset: white;
        font-size: 20px;

        a {
          color: white;
          text-decoration: underline;
        }
      }
    }

    .invalid-feedback{
      color: var(--blue-strong);
      font-size: 18px;
    }

    p {
      font-family: lexend-regular;
      color: var(--blue-strong);
      font-size: 20px;
      text-align: right;
      margin-top: 20px;
    }

    $height-btn: 60px;

    .btn-blue {
      background-color: var(--blue-strong);
      position: relative;
      color: white;
      border-radius: 0px;
      width: 330px;
      height: $height-btn;
      font-size: 18px;
      font-family: lexend-bold;
      margin-left: auto;
      display: block;
      margin-top: 50px;
      border: 0px;

      &::after{
        content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: $height-btn 49px 0 0;
          border-color: var(--orange) transparent transparent transparent;
          transform: rotate(0deg);
        
      }
    }

    @include for_breakpoint(1599){
      .form-check {
        label {
          font-size: 16px;
        }
      }
    }

    @include for_breakpoint(1399){
      .btn-blue{
        width: 300px;
      }
    }

    @include for_breakpoint(991) {
      .btn-blue {
        width: 240px;
      }

      label{
        font-size: 18px
      }

      input[type="email"],
      input[type="text"],
      input[type="tel"],
      textarea{
        @include placeholder(white, 18px, lexend-light);
      }

      p{
        font-size: 18px;
      }
    }

    @include for_breakpoint(767) {
      .recaptcha {
        margin: 20px auto;
      }

      .btn-blue {
        margin-right: auto;
      }
    }
  }
}


re-captcha.is-invalid>div {
  border: 1px solid var(--blue) !important;
  border-radius: 0.2rem;
}