<section id="departamentos" class="departamentos">
    <div class="container-fluid custom">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="blue">Departamentos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 col-xl-4">
                <h3>Características</h3>
                <p>Los departamentos cuentan con:</p>
                <ul class="caract">
                    <li>
                        <div class="icon mx-auto">
                            <img src="/assets/images/ico-sala.png" class="img-fluid" />
                        </div>
                        <p>Sala-comedor</p>
                    </li>
                    <li>
                        <div class="icon mx-auto">
                            <img src="/assets/images/ico-recamara.png" class="img-fluid" />
                        </div>
                        <p>2 recámaras</p>
                    </li>
                    <li>
                        <div class="icon mx-auto">
                            <img src="/assets/images/ico-banio.png" class="img-fluid" />
                        </div>
                        <p>Un baño</p>
                    </li>
                    <li>
                        <div class="icon mx-auto">
                            <img src="/assets/images/ico-servicio.png" class="img-fluid" />
                        </div>
                        <p>Área de servicio</p>
                    </li>
                  
                </ul>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <h3>Acabados y servicios</h3>
                <ul class="lista">
                    <li>Loseta cerámica en pisos y en muro de regadera</li>
                    <li>Muros interiores de tabique aparente</li>
                    <li>Muros exteriores aplanados</li>
                    <li>Puertas en entrada, baño y recámaras</li>
                    <li>Tarja en cocina</li>
                    <li>Elevador</li>
                    <li>Área verde</li>
                    <li>Caseta de vigilancia</li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <h3>No incluye</h3>
                <ul class="lista">
                    <li>Clósets ni cocina</li>
                    <li>Canceles de baño</li>
                    <li>Estacionamiento</li>
                    <li>Muebles ni electrodomésticos</li>
                    <li>Amenidades</li>
                </ul>
            </div>

        </div>
    </div>
</section>