.proyecto{
    background-color: var(--orange);
    padding: 9% 9% 6%;

    p{
        color: white;
        font-size: 20px;
        margin-top: 30px;
        &:first-of-type{
            font-size: 28px;
            margin-top: 55px;
        }
    }
}