<section id="proyecto" class="proyecto">
    <div class="container-fluid custom">
        <div class="row">
            <div class="col-12">
                <h2>Proyecto</h2>
                <p>El proyecto se ubica en el Eje 3 Norte Manuel González 165 A, siendo ésta una zona de gran conectividad al estar entre Insurgentes Norte y el Eje Central, muy cerca de Paseo de la Reforma y Circuito Interior.</p>
                <p>Es un conjunto habitacional inscrito al Programa Especial de Regeneración Urbana y Vivienda Incluyente (PRUVI).</p>

                <p>A un lado se encuentra el centro comercial Puerta Tlatelolco y enfrente la Unidad Habitacional Tlatelolco. En los alrededores hay diversidad de centros comerciales, supermercados, tiendas, escuelas, jardines, restaurantes, bancos y hospitales.</p>
                    
                <p>A 220 m se encuentra la estación del Metro Tlatelolco y las estaciones Guerrero y la Raza se ubican a distancia caminable.</p>
                    
                <p>El proyecto tiene 161 departamentos en 2 torres.</p>
            </div>
        </div>
    </div>
</section>