<section class="header d-flex justify-content-center align-items-center">
    <div class="container-fluid custom">
        <div class="row">
            <div class="col">
               <div class="content-text">
                <H1>¡Tu depa en Tlatelolco!<br>Vivienda PRUVI INCLUYENTE</H1>
                <p><strong>$1.4 Millones*</strong> <br>Sujeto a cambios que marque SEDUVI</p>
                <p>PREVENTA<br>
                    161 departamentos</p>
               </div>
            </div>
        </div>
    </div>
    <div class="widget">
        <p>Aceptamos Créditos</p>
        <div class="creditos">
            <img src="assets/images/superior-56-credito-fovissste.jpg" class="img-fluid" alt="">
            <img src="assets/images/superior-56-credito-infonavit.jpg" class="img-fluid" alt="">
            <img src="assets/images/superior-56-credito-bacario.jpg" class="img-fluid" alt="">
        </div>
        <p>Y te ayudamos a tramitar tu crédito</p>
    </div>
</section>
