@import "../../../assets/sass/mixins";

$height-banner:1000px;
$width-transparencia: 28%;

.header{
    position: relative;
    .container,
    .container-fluid{
        z-index: 2;
    }
    background-image: url(../../../assets/images/banner-manuel-gonzales-165.jpg);
    height: $height-banner;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

     &::before {
       position: absolute;
       content: "";
       width: $width-transparencia;
       height: 100%;
       left: 0;
       bottom: 0;
       background: var(--blue);
       opacity: 1;
       transform-origin: 0 100%;
       opacity: .9;
     }

     &::after{
        position: absolute;
        content: "";
        left: $width-transparencia;
        top: 0;
        // triangulo
       width: 0px;
       height: 0px;
       border-style: solid;
       border-width: $height-banner 570px 0 0;
       border-color: var(--blue) transparent transparent transparent;
       transform: rotate(0deg);
       opacity: .9;
     }

     @include for_breakpoint(1599) {
       $height-banner: 900px;
       $width-transparencia:32%;

       height: $height-banner;

       &::before{
        width: $width-transparencia;
       }

       &::after{
        border-width: $height-banner 450px 0 0;
        left: $width-transparencia;
       }
      
     }

     @include for_breakpoint(1399) {
       $height-banner: 800px;
       $width-transparencia: 32%;

       height: $height-banner;

       &::before{
        width: $width-transparencia;
       }

       &::after{
        border-width: $height-banner 400px 0 0;
        left: $width-transparencia;
       }
     }

     @include for_breakpoint(1199) {
      $height-banner: 800px;
      $width-transparencia: 32%;

      height: $height-banner;

      &::before{
       width: $width-transparencia;
      }

      &::after{
       border-width: $height-banner 350px 0 0;
       left: $width-transparencia;
      }
    }

    @include for_breakpoint(991) {
      $height-banner: 700px;
      $width-transparencia: 32%;

      height: $height-banner;

      &::before{
       width: $width-transparencia;
      }

      &::after{
       border-width: $height-banner 350px 0 0;
       left: $width-transparencia;
      }
    }

     @include for_breakpoint(480) {
       $height-banner: 700px;
     }


    .content-text{
        margin-left: 0;
        margin-top: 7%;
        padding-left: 0;

        @include for_breakpoint(767){
            border: 0px;
        }

        @include for_breakpoint(480){
            margin-top: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

         h1 {
           font-family: lexend-semibold;
           font-size: 38px;
           color: var(--orange);
           margin-bottom: 20px;

           strong {
             font-size: 54px;
           }

           @include for_breakpoint(1599) {
             font-size: 35px;
             strong{
              font-size: 48px;
             }
           }

           @include for_breakpoint(1399) {
             font-size: 32px;
             strong {
               font-size: 46px;
             }
           }

           @include for_breakpoint(1199) {
             font-size: 28px;
             strong{
              font-size: 42px;
             }
           }

           @include for_breakpoint(991) {
             font-size: 24px;
             strong{
              font-size: 38px;
             }
           }

           @include for_breakpoint(767) {
             text-align: center;
             
           }

           @include for_breakpoint(480) {
             font-size: 40px;
           }
         }

         p {
           font-size: 24px;
           line-height: 1.2;
           color: white;

           &:nth-of-type(2) {
             font-size: 40px;
             color: var(--orange);
             margin-top: 30px;
           }

           strong {
             font-size: 65px;
             font-family: lexend-semibold;
           }

           @include for_breakpoint(1399) {
             font-size: 22px;

             strong{
              font-size: 60px;
             }

             &:nth-of-type(2){
              font-size: 36px;
             }
           }

           @include for_breakpoint(1199) {
             font-size: 20px;

             strong{
              font-size: 55px;
             }

             &:nth-of-type(2){
              font-size: 32px;
             }
           }

           @include for_breakpoint(991) {
             strong{
              font-size: 50px;
             }

             &:nth-of-type(2){
              font-size: 30px;
             }
           }

           @include for_breakpoint(767) {
             font-size: 22px;
             text-align: center;
           }
         }
    }

    .widget {
        background-color: rgb(255, 255, 255);
        //box-shadow: 0px 0px 16px 4px rgba(51, 51, 51, 0.1);
        position: absolute;
        bottom: -7%;
        left: 0;
        right: 0;
        margin: auto;
        width: 1170px;
        height: 140px;
        padding: 28px;
        z-index: 9;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &::after {
          content: "";
          position: absolute;
          bottom: 0px;
          right: 0;

          // triangulo
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 0 0 70px 40px;
          border-color: transparent transparent var(--orange) transparent;
          transform: rotate(0deg);
        }

        p{
            color: #333333;
            font-size: 28px;
            text-align: center;
        }

        .creditos{
            display: flex;
            justify-content: space-around;
            margin: 0px 10px;
            img{
                width: 80px;
                height: 80px;
                background-color: rgb(248, 248, 248);
                // box-shadow: 0px 0px 16px 4px rgba(51, 51, 51, 0.1);
                border: 2px solid #efefef;
                margin: 0px 10px;
            }
        }

        @include for_breakpoint(1399){
            bottom: -10%;
            width: 80%;
            height: 120px;
            padding: 20px;

            p{
              font-size: 22px;
            }
        }

        @include for_breakpoint(1199){
          width: 85%;
          height: 110px;
          padding: 15px;
          .creditos{
           img{
            width: 65px;
            height: 65px;
           }
          }
          p{
            font-size: 18px;
          }
        }

        @include for_breakpoint(991){
            bottom: -10%;
            height: auto;
            flex-wrap: wrap;
            &::after{
              border-width: 0 0 60px 40px;
            }

            p{
             margin-bottom: 0px;
             &:nth-of-type(2){
              margin-top: 10px;
             }
            }
        }

        @include for_breakpoint(575){
          flex-direction: column;
          width: 80%;
          bottom: -15%;
          p{
            margin: 5px 0px;
          }
        }

        @include for_breakpoint(480){

            
        }
    }
}