/* You can add global styles to this file, and also import other style files */
@import "assets/sass/mixins";

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

@include fonts('lexend-light','/assets/fonts/Lexend-Light');
@include fonts('lexend-regular','/assets/fonts/Lexend-Regular');
@include fonts('lexend-medium', '/assets/fonts/Lexend-Medium');
@include fonts('lexend-bold','/assets/fonts/Lexend-Bold');
@include fonts('lexend-semibold','/assets/fonts/Lexend-SemiBold');

:root{
    --orange : #f05a28;
    --blue: #194f90;
    --blue-strong: #091e37;
    --text: #1a1a1a;
}

body{
    font-family: lexend-regular;
}

h1{

}

h2{
    position: relative;
    display:inline-block;
    color: white;
    font-size: 72px;
    font-family: lexend-bold;

    &.blue{
        &::after{
            background-image: url(../src/assets/images/esquina-blue.png);
        }
    }
    
    &::after{
        content: "";
        background-image: url(../src/assets/images/esquina-white.png);
        background-repeat: no-repeat;
        width: 70px;
        height: 120px;
        position: absolute;
        left: -25px;
        top:-8px;
    }

    @include for_breakpoint(1599){
        font-size: 65px;
    }

    @include for_breakpoint(1499){
        font-size: 60px;
        &::after{
            width: 60px;
            height: 90px;
            background-size: contain;
            left: -15px;
        }
    }

    @include for_breakpoint(1199){
        font-size: 56px;
    }

    @include for_breakpoint(991){
        font-size: 52px;
    }

    @include for_breakpoint(767){
        font-size: 46px;
    }

    @include for_breakpoint(575){
        font-size: 42px;

        &::after{
            width: 50px;
            height: 80px;
        }
    }

    @include for_breakpoint(480){
        font-size: 36px;
    }
    
}

.container-fluid{
    &.custom{
        padding: 0px 12%;

        @include for_breakpoint(1499){
            padding: 0px 8%;
        }

        @include for_breakpoint(480){
            padding: 0px 5%;
        }
    }
}

.slide-referencias{
    padding-bottom: 70px !important;
    .swiper-pagination{
        .swiper-pagination-bullet{
            width: 10px;
            height: 10px;
            background-color:var(--orange);
            opacity: .3;
            position: relative;
            margin: 0px 10px;
            &.swiper-pagination-bullet-active{
                opacity: 1;
                &::after{
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: -5px;
                    top: -5px;
                    border-radius: 50%;
                    background-color: transparent;
                    border: 1px solid var(--orange);
                }
            }
        }  
    }
}